Documentació de cada pas del procés de creació de l'informe de Power BI amb scripts per a facilitar la reproducibilidad i manteniment.

#  <span style='color:darkolivegreen'> Nivel 1  </span>

Els 7 exercicis del nivell 1 de la tasca 01

### <span style='color:forestgreen'> Ejercicio 1  </span>

En la terminal instalamos los paquetes necesarios para las visualizaciones

In [ ]:
pip install sqlalchemy
pip install PyMySQL
pip install wordcloud matplotlib
pip install matplotlib
pip install pandas
pip install seaborn
pip install squarify

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)
table_names = inspector.get_table_names()
dataframes = {}
with engine.connect() as connection:
    for table_name in table_names:
        dataframes[table_name] = pd.read_sql(f'SELECT * FROM {table_name}', connection)

df_credit_card = dataframes["credit_card"]
df_card_status = dataframes["card_status"]
df_users = dataframes["users"]
df_companies = dataframes["companies"]
df_products = dataframes["products"]
df_trans_products = dataframes["transaction_product"]
df_transactions = dataframes["transactions"]

df_transactions["year"]= pd.DatetimeIndex(df_transactions["timestamp"]).year

Al ejecutar el script se obtuvieron las tablas correspondientes a la base de datos de SQL que también se utilizaron como dataframes en Python.

En Power Query comprobé que el tipo de dato, formato y relaciones entre tablas fueran correctas.

#### <span style='background :palegreen' >Creación del gráfico de líneas "Promedio EUR en transacciones por año"    </span>

Se añade "Year" y "Amount" de la tabla df_transactions  a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(amount, year)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
year_amount_mean = dataset[["year","amount"]].groupby("year").mean()

plt.figure()
plt.plot(year_amount_mean.index, year_amount_mean['amount'], marker = 'x',linestyle = "--",color = "olive")
plt.xlabel('Año',color = 'darkslategrey')
plt.ylabel('EUR \n',color = 'darkslategrey')
plt.title('Promedio EUR en transacciones por año\n',color = 'darkslategrey')
plt.xticks(year_amount_mean.index, rotation=0)
plt.ylim(0,year_amount_mean["amount"].max() * 1.1)
plt.show()

### <span style='color:forestgreen'> Ejercicio 2  </span>

#### <span style='background :palegreen' >Creación del gráfico de barras "Precio mínimo y máximo de productos a la venta"    </span>

Se añade "price" y "product_name" de la tabla df_products a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(price, product_name)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt

product_price_min = dataset.loc[dataset["price"].idxmin(),["product_name","price"]]

product_price_max = dataset.loc[dataset["price"].idxmax(),["product_name","price"]]

# Creación de gráfico
def addlabels(x, y):
    for i in range(len(x)):
        plt.text(y[i]+ 0.5, i, f'{y[i]:.2f}', ha='left', va='center')
        

products_name= [product_price_min["product_name"],product_price_max["product_name"]]
products_price = [product_price_min["price"],product_price_max["price"]]
colors = ["khaki","tan"]

plt.figure()
plt.barh(products_name,products_price, color= colors)
plt.xlabel(' \n EUR',color = 'darkslategrey')
plt.ylabel('Nombre del productos \n',color = 'darkslategrey')
plt.title('Precio mínimo y máximo de productos a la venta \n',color = 'darkslategrey')
addlabels(products_name, products_price)

plt.xticks(rotation=45)
plt.show()

### <span style='color:forestgreen'> Ejercicio 3  </span>

En el ejercicio 3 de la tasca 8.1 creé un mapa con geopandas mostrando la ubicación de las empresas. Este gráfico no es compatible con Power BI, por lo tanto he cambiado la visualización y he creado un wordcloud con la ubicación de los países

#### <span style='background :palegreen' >Creación del wordcloud "Nube de Palabras con la ubicación de las empresas"    </span>

Se añade "country" y "company_id" de la tabla df_companies a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(company_id, country)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:


import matplotlib.pyplot as plt
from wordcloud import WordCloud

dataset['country'] = dataset['country'].str.replace(' ', '_')

countries_text = ' '.join(dataset['country'].dropna().astype(str).tolist())

wordcloud = WordCloud(width=800, height=400, background_color='white').generate(countries_text)

plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.title("\nNube de Palabras con la ubicación de las empresas \n ", color='darkslategrey')
plt.show()

### <span style='color:forestgreen'> Ejercicio 4  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_country_avg_trans = "SELECT country, AVG(amount) as avg_amount FROM companies INNER JOIN transactions ON companies.company_id = transactions.business_id GROUP BY country ORDER BY avg_amount DESC"


with engine.connect() as connection:
    df_country_avg_trans = pd.read_sql(sql_country_avg_trans,connection)

#### <span style='background :palegreen' >Creación del treemap "Promedio EUR en transacciones por país"    </span>

Se añade "country" y "avg_amount" de la tabla df_country_avg_trans a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(country, avg_amount)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import squarify

colors = ["lightsalmon","mediumaquamarine","royalblue","plum","coral","gainsboro","thistle","darkseagreen","tomato",
"rosybrown","sandybrown","powderblue","gold","palevioletred","burlywood"]

plt.figure()
squarify.plot(sizes = dataset["avg_amount"],
              label = dataset["country"] + "\n" + round(dataset["avg_amount"],2).astype(str),color = colors,alpha=0.7)
plt.title("Promedio EUR en transacciones por país\n",color = 'darkslategrey')
plt.axis("off")
plt.show()

### <span style='color:forestgreen'> Ejercicio 5  </span>

#### <span style='background :palegreen' >Creación del pie chart "Repartición de transacciones declinadas por país"    </span>

Se añade "country" y "company_id" de la tabla df_companies y "business_id" y "declined" de la tabla df_transactions a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(declined, business_id, company_id, country)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import pandas as pd

#transactions_company_merge = pd.merge(dataset, dataset, left_on='business_id', right_on='company_id')
transactions_declined_country = dataset.groupby('country')['declined'].sum().reset_index()

colors = ["lightsalmon","mediumaquamarine","royalblue","plum","coral","gainsboro","thistle","darkseagreen","tomato",
"rosybrown","sandybrown","powderblue","gold","palevioletred","burlywood"]

plt.figure(figsize=(6, 6))
plt.pie(transactions_declined_country['declined'], 
        labels=transactions_declined_country['country'], 
        autopct='%1.1f%%', colors = colors, 
        startangle=140)
plt.title("Repartición de transacciones declinadas por país \n", color = "darkslategrey")
plt.ylabel("") 
plt.show()

### <span style='color:forestgreen'> Ejercicio 6  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_country_year_trans = "SELECT AVG(amount) as avg_amount, country, YEAR(timestamp) AS year FROM transactions INNER JOIN companies ON transactions.business_id = companies.company_id GROUP BY country, year ORDER BY country"

with engine.connect() as connection:
    df_country_year_trans = pd.read_sql(sql_country_year_trans, connection)

#### <span style='background :palegreen' >Creación del heatmap "Promedio EUR en transacciones por país y año"    </span>

Se añade "country","avg_amount" y "year" de la tabla df_country_year_trans a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(year, country, avg_amount)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

pivot_df_cyt = dataset.pivot(index="country", columns="year", values="avg_amount")

plt.figure(figsize=(12, 8))
sns.heatmap(pivot_df_cyt,annot = True,fmt=".2f",cmap="Purples")
plt.title("Promedio EUR en transacciones por País y Año\n \n", color = "darkslategrey")
plt.xlabel("\nAño",color = "darkslategrey")
plt.ylabel("País",color = "darkslategrey")
plt.show()

### <span style='color:forestgreen'> Ejercicio 7  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_trans_products_time = """WITH products_count AS (SELECT transaction_id, count(product_id) as num_products
FROM transaction_product
GROUP BY transaction_id)
 
SELECT amount, num_products, year(timestamp)as year, month(timestamp) as month
FROM transactions
INNER JOIN products_count
ON transactions.id = products_count.transaction_id
;

"""
with engine.connect() as connection:
    df_trans_products_time = pd.read_sql(sql_trans_products_time, connection)

#### <span style='background :palegreen' >Creación del pairplot "Relación entre Variables de Importe de transacciones, Cantidad de Productos, mes y año"    </span>

Se añade "amount","month", "num_products" y "year" de la tabla df_trans_products_time a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(amount, month, num_products, year)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

plt.figure(figsize=(12, 15))
pairplot = sns.pairplot(dataset, diag_kind='hist', hue='year') 

pairplot.fig.suptitle("Relación entre Variables de Importe de transacciones, Cantidad de Productos, mes y año", color = "darkslategrey",
                      y=1)
plt.show()

# <span style='color:darkolivegreen'> Nivel 2  </span>

Els 2 exercicis del nivell 2 de la tasca 01

### <span style='color:forestgreen'> Ejercicio 1  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_trans_user_product = """WITH products_count_price AS (SELECT transaction_id, count(product_id) as num_products,max(price) as max_product_price,min(price) as min_product_price
FROM transaction_product
INNER JOIN products
ON transaction_product.product_id = products.id
GROUP BY transaction_id)
SELECT amount, 
month(timestamp) as month,
num_products,
max_product_price,
min_product_price
FROM transactions
INNER JOIN products_count_price
ON transactions.id = products_count_price.transaction_id
;

"""
with engine.connect() as connection:
    df_trans_user_product = pd.read_sql(sql_trans_user_product, connection)

#### <span style='background :palegreen' >Creación del heatmap "Correlación del importe en transacciones, mes, cantidad de productos, precio máximo del producto, precio mínimo del producto"    </span>

Se añade "amount","month", "num_products" y "max_product_price", "min_product_price" de la tabla df_trans_user_product a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(amount, max_product_price, min_product_price, month, num_products)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

corr_df_trans_user_product = dataset.corr()

plt.figure(figsize=(12, 8))
sns.heatmap(corr_df_trans_user_product,vmin=-1, vmax=1,fmt=".2f", annot = True,cmap="YlOrBr")
plt.title("Correlación del importe en transacciones, mes, cantidad de productos, precio máximo y mínimo del producto\n\n", color = "darkslategrey")
plt.show()

### <span style='color:forestgreen'> Ejercicio 2  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_trans_users = """WITH users_age AS (  SELECT id, country, birth_date, CURDATE() as today_date,
 FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) AS age
 FROM users)
 
 SELECT amount, age, country
 FROM transactions
 INNER JOIN users_age
 ON transactions.user_id = users_age.id; 

"""
with engine.connect() as connection:
    df_trans_users= pd.read_sql(sql_trans_users, connection)

#### <span style='background :palegreen' >Creación del joinplot "Relación entre edad del usuario e importe (EUR) en transacciones por país del usuario"    </span>

Se añade "amount","age", "country" de la tabla df_trans_users a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(age, amount, country)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
plt.figure(figsize=(12, 15))
jointplot = sns.jointplot(data=dataset, x="age", y="amount", hue="country", kind="scatter", palette="tab10")
plt.suptitle("Relación entre edad del usuario e importe (EUR) en transacciones \n por país del usuario", color = "darkslategrey", y=1)
plt.show()

# <span style='color:darkolivegreen'> Nivel 3  </span>

Els 2 exercicis del nivell 3 de la tasca 01

### <span style='color:forestgreen'> Ejercicio 1  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_trans_country = """
 
 SELECT amount, country
 FROM transactions
 INNER JOIN companies
 ON transactions.business_id = companies.company_id
 WHERE country IN ("United States","Ireland","United Kingdom","Canada","Sweden"); 

"""
with engine.connect() as connection:
    df_trans_country = pd.read_sql(sql_trans_country, connection)

#### <span style='background :palegreen' >Creación del violinplot combinado con boxplot "Distribución de importe de transacciones (EUR) en los 5 paises con mayor promedio en transacciones"    </span>

Se añade "amount"y "country" de la tabla df_trans_country a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(amount, country)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

plt.figure(figsize=(12, 6))

ax = sns.violinplot(x="country", y="amount", data=dataset, color= "navajowhite",inner=None, linewidth=0, saturation=0.9)
sns.boxplot(x="country", y="amount", data=dataset, saturation=0.8, width=0.4,palette='flare', boxprops={'zorder': 2}, ax=ax)

plt.title("Distribución de importe de transacciones (EUR) en los 5 paises con mayor promedio en transacciones\n\n",color = "darkslategrey")
plt.xlabel('País',color = "darkslategrey")
plt.ylabel("Importe de la Transacción (EUR)",color = "darkslategrey")
plt.xticks(rotation=45)

plt.show()

### <span style='color:forestgreen'> Ejercicio 2  </span>

#### <span style='background :palegreen' >Script utilizado para la obtención de datos    </span>

In [ ]:
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine,inspect
con_string = 'mysql+pymysql://root:Cachopinchi87@localhost/business'
engine = create_engine(con_string)
inspector = inspect(engine)

sql_trans_price = """
 
WITH products_price AS (SELECT transaction_id, max(price) as max_product_price
FROM transaction_product
INNER JOIN products
ON transaction_product.product_id = products.id
GROUP BY transaction_id)

SELECT amount, max_product_price ,country, year(timestamp)as year
FROM transactions
INNER JOIN products_price
ON transactions.id = products_price.transaction_id
INNER JOIN companies
ON transactions.business_id = companies.company_id
WHERE country IN ("United States","Ireland","United Kingdom","Canada","Sweden")
;

"""
with engine.connect() as connection:
    df_trans_price= pd.read_sql(sql_trans_price, connection)

#### <span style='background :palegreen' >Creación del facetgrid "Importe de la transacción y producto de mayor precio por año y país"    </span>

Se añade "amount", "country", "max_product_price" y "year" de la tabla df_trans_price a Values en Python visual y se ejecuta el siguiente script:

In [ ]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(amount, country, max_product_price)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:


import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

facetgrid = sns.FacetGrid(dataset, row ="country",  col ="year",aspect=1.5) 

facetgrid.map(plt.scatter, "amount", "max_product_price", edgecolor ="w", color="springgreen").add_legend() 

facetgrid.set_axis_labels("Importe de la Transacción (EUR)\n", "Precio Máximo del Producto (EUR)\n")
facetgrid.fig.suptitle("Importe de la transacción y producto de mayor precio por año y país")
plt.subplots_adjust(top=0.9)

plt.show()